<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR:wght@200&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- 제이쿼리-->
    <script>
        // function rank_movie(){
        //     $.ajax({
        //         type: "POST",
        //         url: "/rank_movie",
        //         data: {},
        //         contentType: "application/json; charset=utf-8",
        //         success: function (response) {
        //             console.log(response);
        //         }

        //     });
        // }


        function loginchk (code){
            let result ;
            $.ajax({
                type: "POST",
                url: "/loginchk",
                data: {},
                async: false,//ajax 호출 결과값을 리턴하기 위한 설정
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    result = response.result;
                }
            });
            return result;
        }

        function starOn(){
            let result = loginchk();
            let movie_code = $('#movie_code').val();
            let movie_title = $('#movie_title_hidden').val(); 
            //로그인 여부 체크
            if(result === 'loginpage'){
                alert(`로그인 해주시길 바랍니다!!`);
                document.location.href = '/Log_in.html';                    
            }else if (result === 'login'){
                
                // 로그인 한 상태라면 누르면 별채워졌다가 비워졌다가 효과주기
                let star = document.getElementById('star');
                if (star.src.match("star-off")){
                    if(movie_code === '999'){
                        alert('영화를 검색해주세요');
                    }else {
                        addfavorite(movie_code,movie_title);
                        printfavorite();
                        alert('추가되었습니다!');
                        star.src = "/static/star-on.png";
                    }
                    
                } else{
                    del_favorite(movie_code);
                    star.src = "/static/star-off.png";

                }

            }
        }    
            

        //즐겨찾기 추가
        function addfavorite(movie_code,movie_title){

            let favorite_code = movie_code;
            let favorite_title = movie_title;
            
            $.ajax({
                type: "POST",
                url: "/addfavorite",
                async: false,
                data: {
                    'favorite_code':favorite_code,
                    'favorite_title':favorite_title
                },
                success: function (response) {
                    console.log('성공스르');
                }
            });
        }
        //즐겨찾기 목록 출력
        function printfavorite(){

            $('.favorite_body').empty();

            $.ajax({
                type: "POST",
                url: "/printfavorite",
                data: {},
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    console.log(response);
                    let favoritelist = response.favorite;
                    for(let i = 0 ; i < favoritelist.length ; i++){

                        let favorite_temp =`
                            <div class="text">
                                <u style="color:#fff;"><p onclick="print_movie(${favoritelist[i].favorite_code})">${favoritelist[i].favorite_title}</p></u>
                                <button type="button" id="favorite_btn" onclick="del_favorite(${favoritelist[i].favorite_code})">⭐</button>
                            </div>
                        `;  
                        $('.favorite_body').append(favorite_temp);
                    }
                    
                }    
            });
        }

        function del_favorite(code){
            let del_code = code;
            let now_print = $('#movie_code').val();
            if(now_print == del_code){
                let star = document.getElementById('star');
                star.src = "/static/star-off.png";
            }
            $.ajax({
                type: "POST",
                url: "/del_favorite",
                data: {
                    'del_code':del_code
                },
                async: false,
                success: function (response) {
                    alert('삭제되었습니다!');
                    printfavorite();  
                             
                }
            });
        }


        function logout(){
            
            $.ajax({
                type: "POST",
                url: "/logout",
                data: {},
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    alert(`이용해주셔서 감사합니다!`);
                    document.location.href = '/';                    
                }    
            });
        }


        $(document).ready(function () {

            //로그인 여부 판단
            if("{{data}}" === 'login'){
                $('.login').empty();
                let temp_html =`
                <button class="login"><a href="#" style="text-decoration:none;color: white;font">{{data1}}님</a></button>
                <button class="signup"><a href="#" onclick="logout()" style="text-decoration:none;color: white">로그아웃</a></button>`;
                $('.wrap').append(temp_html);
                printfavorite();
            }else{
                let header_temp_html = `<button class="login"><a href="{{url_for('Login')}}" style="text-decoration:none;color: white">Log in</a></button>
                <button class="signup"><a href="{{url_for('Signup')}}" style="text-decoration:none;color: white">Sign up</a></button>`;
                $('.wrap').append(header_temp_html);
            }

            //코멘트 보이기
            show_comment();

            //포커스 아웃 시 검색목록 제거
            $('.search_input').blur(function (){
                if($('.search_input').val() === ''){
                    $('#movie_list').empty();
                }
            });


            //키업 딜레이
            var itcdelay = (function () {
            // Function
            var itcTimer = 0;
            return function (callback, ms) {
                clearTimeout(itcTimer);
                itcTimer = setTimeout(callback, ms);
            };
            })();
            
            //키보드 입력 감지
            $(".search_input").keyup(function () {
                itcdelay(function () {
                    $('#movie_list').empty();
                    send_keyword();
                }, 150);
            });

            //년,월,일 시간
            let Target = document.getElementById("today");
            function today(){
            let time = new Date();
            let year = time.getFullYear();
            let month = time.getMonth();
            let date = time.getDate();
            let day = time.getDay();
            let week = ['일', '월', '화', '수', '목', '금', '토'];
            let hours = time.getHours();
            let minutes = time.getMinutes();
            let seconds = time.getSeconds();

            Target.innerText =
            `${year}년 ${month + 1}월 ${date}일 ${week[day]}요일 ` +
            `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;

        }
        today();
        setInterval(today, 1000);

        });

            //닉네임, 별점, 한줄평 POST 저장
        function save_comment() {
            let name = $("#name").val();
            let rank = $("#rank").val();
            let comment = $("#comment").val();

            $.ajax({
                type: 'POST',
                url: '/comment',
                data: {name_give : name, rank_give : rank ,comment_give : comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }
            //닉네임, 별점, 한줄평 GET
        function show_comment() {
            $.ajax({
                type: "GET",
                url: "/comment",
                data: {},
                success: function (response) {
                    let rows = response['commnets']
                    for (let i =0; i < rows.length; i++){
                        let name = rows[i]['name']
                        let rank = rows[i]['rank']
                        let comment = rows[i]['comment']

                        let star_image = "⭐".repeat(rank)

                        let temp_html = `<div class="comments">
                                            <div class="idRank">
                                                <div>${name}</div>
                                                <div>${star_image}</div>
                                                <div class="onelineComm">${comment}</div>
                                            </div>
                                        </div>`
                        $("#comment-box").append(temp_html);
                    }
                }
            });
        }
    </script>
    <script src="/static/search.js"></script>
</head>
<body>

<div class="mytitle">
    <h1>Title</h1>
    <div id="today">
    </div>
    <!-- 로그인 / 회원가입 a태그 링크 이동은 이렇게 -->
    <div class="wrap">
        <!--로그인 회원가입 버튼 영역-->
    </div>
    </div>

<div class="fixedBtn_wrap topBtn">
      <!-- 고정으로나오는 버튼 -->
      <a href="{{url_for('movierank')}}" class="movie_rank">영화순위 보러가기</a>
      <a href="#" id="btn_gotoTop"><img src="https://img.cgv.co.kr/R2014/images/common/btn/gotoTop.png" alt="최상단으로 이동" /></a>
    </div>


    <div class="favorite">
      <div class="favorite_header">
        <p>Favorite List</p>
      </div>
      <div class="favorite_body">
        <div class="text">
          <p>즐겨찾는 영화가 없습니다.</p>
          <button type="button" id="favorite_btn" onclick="del_favorite()"></button>
        </div>
      </div>
    </div>

<div class="search">
    <input type="text" class="search_input" placeholder="찾으실 영화제목을 적어주세요">
    <button type="button" class="btn btn-outline-success" id='btn-outline-success' onclick="print_movie(999)" >검색</button>
    <button type="button" class="btn btn-outline-warning" onclick="starOn()"><img src="/static/star-off.png" id="star">
    </button>
    <!-- 실시간 검색결과 출력 div -->
    <div class="search_list" id="search_list">
        <ul id="movie_list"></ul>
    </div>
</div>

<div class="search_movie" id="search_movie">
      <img id="movie_img" src="https://movie-phinf.pstatic.net/20220727_209/1658912961873lVd2W_JPEG/movie_image.jpg" />
      <div class="movie_info">
        <div id="movie_title" value="영화제목">영화 제목</div>
        <hr>
        <div id="movie_desc">줄거리</div>
        <hr>
        <div id="movie_date">개봉일자</div>
        <hr>
        <div id="movie_rank">평점</div>
        <input type="hidden" value="999" id="movie_code">
        <input type="hidden" value="999" id="movie_title_hidden">
      </div>
    </div>

    <div class="mypost" id="post-box">
    <div class="form-floating mb-3">
        <input id="name" type="email" class="form-control" placeholder="name@example.com">
        <label>Nickname & ID</label>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Star Rating</label>
        <select class="form-select" id="rank">
            <option selected>-- Select --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
    </div>

    <div class="form-floating">
        <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
        <label for="floatingTextarea2">한줄평 남기기</label>
    </div>
    <div class="mybtns">
        <button onclick="save_comment()" type="button" class="btn btn-dark">기록하기</button>
    </div>
</div>

<div class="comment-box">
</div>

</body>
</html>