*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mytitle {
    width: 100%;
    height: 250px;

    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg');
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

}

.mytitle > div {
    font-size: 15px;
    color: white;

    margin-top: 10px;
}

.login{
    height: 30px;
    margin-left: 90%;
    margin-bottom: 10%;
    position: absolute;
}

.login > a{
    color: white;
    text-decoration: none;
}

.login > a:hover{
    color: white;
    text-decoration: none;
}

.search{
    margin: 10px auto;
    width: 552px;
    height: 200px;
}

.search_input{
    margin-top: 10px;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    padding-left: 10px;
}

.search > button{
    margin-top: -5.5px;
    width: 70px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid green;
}

.search > .btn-outline-warning{
    border: 2px solid #ffc107;
}

.search > button > img{
    width: 30px;
}

.search_movie{
    width: 800px;
    height: 500px;
    margin: -125px auto auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.search_movie > img{
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 100px;
}

.movie_info{
    width: 300px;
}

.mypost {
    width: 95%;
    max-width: 500px;
    margin: 20px auto 0px auto;
    padding: 20px;
    box-shadow: 0px 0px 3px 0px gray;
}

.mybtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
}

.mybtns > button {
    margin-right: 10px;
}


.comments{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    width: 400px;
    margin: 30px auto;
}

.idRank{
    display: flex;
    width: 400px;
    height: 150px;
    padding: 10px;
    justify-content: space-between;
    position: relative;
}

.onelineComm{
    position: absolute;
    margin-top: 30px;
}
